name: CI/CD - Build, Push & Deploy

on:
  push:
    branches:
      - main

jobs:
  build-push-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build & Push Django Backend
        uses: docker/build-push-action@v5
        with:
          context: ./backend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/django-backend:latest

      - name: Build & Push React Frontend
        uses: docker/build-push-action@v5
        with:
          context: ./frontend
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/react-frontend:latest

      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.EC2_HOST }}
          username: devops
          key: ${{ secrets.EC2_KEY }}
          port: 22
          script: |
            cd /home/devops/devops-assessment
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/django-backend:latest
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/react-frontend:latest
            docker-compose down
            docker-compose up -d
